@import "tailwindcss";

 @layer utilities {
    .bg-hero {
    background-image: url('../src/images/cars-tesla1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .text-system{
    background: rgb(31, 133, 181);
    border-radius: 5px;
    height: 57px;
  }
  .text-limited{
    background: rgb(31, 133, 181);
    border-radius: 5px;
    height: 48px;
    width: 57%;
    justify-content: center;
    text-align: center;
  }
  .bg-barinda{
    background-image: url('../src/images/tesla1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
  .bg-model3{
    background-image: url('../src/images/tesla3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg-APR {
     background-image: url('../src/images/tesla2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg-FSD{
    background-image: url('../src/images/tesla4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg-BFT{
    background-image: url('../src/images/tesla5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .rounded-mm {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
  }
 }